h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

body {
  font-size: 1em;
  grid:
    "header header  header"
    "toc    content footnotes"
    "post   post    post"/
    1fr min(72ch, 100%) 1fr;

  & > header { grid-area: header; }
}
#table-of-contents { grid-area: toc;}
#footnotes { grid-area: footnotes;}
#postamble { grid-area: post; }

#content {
  grid-area: content;
}
